@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	background-color: #f9fafb;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.resume-a4 {
	// width: 1240px;
	// height: 874px;
	// width: 596px;
	// height: 842px;
	height:286.2mm;
    width:210mm;
	margin: 20px auto;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
